.footerWrapper
{
  position:relative;
  width: 100%;
  height: auto;
  background: #212529;
  border-top: 2px solid black;
}

.footer
{
  height: auto;
  margin: 0;
  background: #a00c0c;
  color: white;
}

.footer h5 
{
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 4px;
}

.footerBase {
  background: none;
  color: white;
  padding: 0.5rem 0rem;
}

@media only screen and (max-width: 992px) {
  .footerTitle
  {
    margin-top: 2rem;
  }
}