.findAPartyBanner 
{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  background-image: url(/images/town.jpg);
}

.resultsWrapper 
{
  background-color: #26262c;
}