.findAPartyBackground 
{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  background-image: url(/images/town.jpg);
}
.findAPartySearch .searchBox
{
  background-color: rgb(192, 192, 192);
  padding: 1rem;
  border-top: 3px solid #a00c0c;
}