.background
{
  background-image: url(/images/city-gates-flip-horizontal.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.loginWrapper
{
  border: 2px solid white;
  border-radius: 10px;
}